{% extends 'base.html'%} {% import 'bootstrap/wtf.html' as wtf%} {% block content %}
<div class="container">
    <div class="row">
        {%for biz in pitch%}
        <div class="col-md-4">
            <div class="card">
                <ul class="list-group list-group-flush ">
                    <li class="list-group-item ">{{biz.pitch_body}}</li>
                    <!-- <a href="">{{biz.category.name}}</a> -->
                    <li class="list-group-item text-center font-weight:bold">Dapibus ac facilisis in</li>

                    <div class=" card-body float-right ">
                        <li class="list-group-item"> <a href="/like/{{biz.id}}" class="card-link ">Like</a>

                            <a href="# " class="card-link ">Dislike</a>
                            <a class="card-link" data-toggle="collapse" href="#collapseExample">Comments</a>
                        </li>
                    </div>
                    <li class="list-group-item font-weight:bold overflow-hidden">
                        {%for comment in biz.comments%}
                        <h6>{{comment.comment}}</h6>
                        {%endfor%}
                        <a class="card-link" href="/addComent/{{biz.id}}">Add Comment</a>

                    </li>

                </ul>
            </div>
        </div>
        {%endfor%}
    </div>
</div>
{%endblock%}