{% extends 'base.html'%} {%block content%}
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
            <h3 style="font-weight: bold;">In life we have 60 seconds to express ourselves.Take 60 seconds and tell us who you are</h3>
            <button class='btn-primary'>Get started</button>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">

        <div class="col-md-4 text-center">
            <h3 style="font-weight: bold;">People like you have shared their stories</h3>
            <h4>bussiness</h4>
            <h4>One for the day</h4>
            <h4>Introductory</h4>
            <h4>Fun</h4>
            <h4>Encouraging</h4>
        </div>
        <div class="col-md-4"></div>

        <div class="col-md-4">
            <h1>About</h1>
            <p>Be ready to take something home</p>
        </div>
    </div>
    <div class="container bg-dark">Hello world</div>
</div>
{%endblock%}