{% extends 'base.html'%} {%block content%}
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
            <h3 style="font-weight: bold; color:aliceblue">In life we have 60 seconds to express ourselves.Take 60 seconds and tell us who you are</h3>
            <button class='btn-light'>
                <a href='/addPitch'>Get started</a>
              </button>
        </div>
        <div class="col-md-4"></div>
    </div>
    <h3>Categories</h3>
    <div class="row">
        <h1></h1>
        <h1></h1>
    </div>
    <div class="container" style="background-color: grey; padding:4px;">
        <div class="row">
            {%for cat in categories %}
            <div class="col-md-4">
                <div class="card">
                    <ul class="list-group list-group-flush ">
                        <li class="list-group-item ">
                            <a href="/viewbizpitch/{{cat.name}}">{{cat.name}}
                            </a>
                        </li>
                        <p>
                            <li class=" list-group-item text-center font-weight:bold ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente vel possimus repudiandae quod illum id minus voluptate, consectetur vitae architecto repellendus quo eos amet eum minima veritatis distinctio nihil atque?
                            </li>
                        </p>

                    </ul>
                </div>
            </div>
            {%endfor%}
        </div>

    </div>
</div>
{%endblock%}