{% extends 'base.html'%} {%block content%}
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
            <h3 style="font-weight: bold;">In life we have 60 seconds to express ourselves.Take 60 seconds and tell us who you are</h3>
            <button class='btn-primary'>Get started</button>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">

        <div class="col-md-4 text-center">
            <h3 style="font-weight: bold;">People like you have shared their stories</h3>
            <h4>bussiness</h4>
            <h4>One for the day</h4>
            <h4>Introductory</h4>
            <h4>Fun</h4>
            <h4>Encouraging</h4>
        </div>
        <div class="col-md-4"></div>

        <div class="col-md-4">
            <h1>About</h1>
            <p>Be ready to take something home</p>
        </div>
    </div>
    <div class="row">
        <h1></h1>
        <h1></h1>
    </div>
    <div class="container" style="background-color: grey; padding:4px;">
        <div class="row">
            {%for cat in categories %}
            <div class="col-md-4">
                <div class="card">
                    <ul class="list-group list-group-flush ">
                        <li class="list-group-item ">
                            <a href="/viewbizpitch/{{cat.name}}">{{cat.name}}
                            </a>
                        </li>
                        <p>
                            <li class=" list-group-item text-center font-weight:bold ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente vel possimus repudiandae quod illum id minus voluptate, consectetur vitae architecto repellendus quo eos amet eum minima veritatis distinctio nihil atque?
                            </li>
                        </p>

                    </ul>
                </div>
            </div>
            {%endfor%}
        </div>

    </div>
</div>
{%endblock%}